#h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
}

#div1{
    position: relative;
    background-color: blue;
   float: left;
   margin-left: 2.5%;
height: 500px;
width: 15%;
}

#div2{
    position: relative;
    background-color: blueviolet;
    float: left;
    margin-left: 5%;
    height: 500px;
    width: 15%;

}

#div3{
    position: relative;
    float: left;
    margin-left: 5%;
    background-color: brown;

    height: 500px;
    width: 15%;
}

#div4{

    background-color: chartreuse;
    position: relative;
    float: left;
    margin-left: 5%;
    height: 500px;
    width: 15%;
}
#div5{
    position: relative;
    float: left;
    margin-left: 5%;
    background-color: coral;
    height: 500px;
width: 15%;
}
#foot{
    position: absolute;
    bottom: 5%;
    left: 40%;
    font-family: 'Pacifico', cursive;
    text-align: center;
    float: unset;
    
}